// bower:scss
// endbower

@import "reset";
@import "sprite";

body {
  background: #252525;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333;
  min-height: 320px;
}

/* Table order */
table#tickets {
  border-collapse: collapse;
  text-rendering: optimizeLegibility;
  text-align: left;
  margin-top: 45px;
  margin-right: 75px;
  th:nth-child(2), td:nth-child(2) {
    padding-left: 70px;
  }
  th:nth-child(3), td:nth-child(3) {
    padding-left: 110px;
  }
  th:nth-child(4), td:nth-child(4) {
    padding-left: 200px;
  }
  th:nth-child(5), td:nth-child(5) {
    padding-left: 60px;
  }
}
table#tickets thead tr {
  font-size: 14px;
  height: 45px;
  color: #959595;
}
table#tickets tbody tr {
  font-size: 18px;
  height: 45px;
  &:first-child {
    font-weight: 700;
  }
}

@media screen and (max-width: 1080px) {
  /*section {
  overflow: hidden;
}*/
table#tickets {
  th, td {
    padding-left: 0 !important;
  }
  tr {
    border-bottom: 1px solid #959595;
  }
}
table#tickets thead { display: none; }
table#tickets tbody td {
  display: block; padding: .6rem;
}
table#tickets tbody tr td:first-child {
  //background: #666; color: #fff;
}
table#tickets tbody td:before {
  content: attr(data-th);
  //font-weight: bold;
  display: inline-block;
  color: #959595;
  font-size: 14px;
  font-weight: 400;
  margin-right: 30px;
  //width: 6rem;
}
}
/* End Table order */


header {
  width: 100%;
  height: 80px;
  position: relative;
}

.lang {
  position: absolute;
  left: 80px;
  top: 0;
  height: 80px;
  & > div {
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    margin-right: 15px;
  }
  a {
    text-decoration: none;
    color: #666;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    &:focus, &:active {
      color: #fff;
    }
  }
}

.lang-img {
  position: relative;
}

.icon-lang-small {
  @include sprite($lang-sm);
}

.icon-lang-large {
  @include sprite($lang-lg);
  position: absolute;
  top: 18px;
  left: -55px;
}

.main-menu {
  margin-left: 65px;
  float: left;
  li {
    display: inline-block;
    margin-right: 10px;
    height: 80px;
    a {
      color: #fff;
      font-size: 18px;
      text-decoration: none;
      height: 100%;
      display: block;
      line-height: 80px;
      padding: 0 10px;
      vertical-align: middle;
      &:hover {
        background-color: lighten(#252525, 10%);
        transition: .05s;
      }
    }
  }
}

.secondary-submenu {
  float: left;
  margin-left: 15px;
  position: relative;
  & > a {
    display: block;
    padding: 0 30px;
    color: #fff;
    font-size: 24px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    border-left: 1px solid #3b3b3b;
    border-right: 1px solid #3b3b3b;
    &:hover {
      background-color: lighten(#252525, 10%);
      transition: .05s;
    }
  }
  .inactive-submenu {
    pointer-events: none;
    cursor: none;
    color: #666;
  }
}

.submenu {
  position: absolute;
  display: none;
  background-color: #252525;
  top: 80px;
  right: 0;
  z-index: 100;
  min-width: 200px;
  border-top: 1px solid #fff;
  //display: none;
  li {
    display: none;;
    a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 15px 20px;
      border-bottom: 1px solid #fff;
      &:hover {
        background-color: lighten(#252525, 10%);
        transition: .05s;
      }
    }
  }
}

.header-right {
  position: absolute;
  top: 0;
  right: 20px;
  height: 80px;
  ul {
    li {
      display: inline-block;
      &:first-child {
        border-left: 1px solid #3b3b3b;
        border-right: 1px solid #3b3b3b;
      }
      a {
        line-height: 80px;
        vertical-align: middle;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        padding: 0 20px;
        display: block;
        &:hover {
          background-color: lighten(#252525, 10%);
        }
      }
    }
  }
}

.header-email {
  //height: 80px;
  position: absolute;
  top: 34px;
  left: -230px;
  p:first-child {
    color: #fff;
    font-size: 14px;
  }
  p:last-child {
    color: #666;
    margin-top: 5px;
    font-size: 11px;
    font-weight: 700;
  }
}

.header-geo {
  padding: 0 13px;
  position: absolute;
  top: 0px;
  left: -340px;
  padding-top: 12px;
  border-left: 1px solid #3b3b3b;
  border-right: 1px solid #3b3b3b;
  height: 68px;
  span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
  }
}

.icon-geo {
  @include sprite($geo);
  display: inline-block;
}

section {
  background-color: #fff;
  width: calc(100% - 24px);
  height: calc(100vh - 92px);
  margin: 0 12px 12px 12px;
  border-radius: 7px;
  overflow-y: scroll;
}

.inner-section {
  //background-color: #666;
  max-width: 1320px;
  margin: 0 auto;
  /* clear floats  */
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.section-title {
  padding-top: 60px;
  position: relative;
  margin-left: 75px;
  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
  }
  p {
    font-size: 16px;
    max-width: 690px;
    line-height: 24px;
    margin-top: 20px;
  }
  i {
    position: absolute;
    top: 72px;
    left: -75px;
    font-size: 35px;
  }
}

.table-order {
  margin-left: 75px;
}

#test-btn  {
  margin-top: 50px;
  //margin-left: 75px;
  width: 300px;
  height: 60px;
  text-transform: uppercase;
  background-color: #1aa3e0;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  &:hover {
    opacity: .7;
    cursor: pointer;
  }
}

/* Slider manual */
.slick-prev {
  display: none !important;
}

.slick-next {
  position: absolute;
  top: 69px;
  left: 0;
  height: 35px;
  color: transparent;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  &:focus {
    outline: none;
  }
}

button::-moz-focus-inner {
  border: 0;
}
/* End Slider manual */

footer {
  height: 150px;
  margin-top: 220px;
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.footer-wrapper {
  border-top: 1px solid #e1e1e1;
}

.footer-left {
  float: left;
  p {
    font-size: 12px;
    margin-top: 30px;
  }
  ul {
    margin-top: 30px;
    li {
      display: inline-block;
      margin-right: 10px;
      a {
        text-decoration: none;
        font-size: 24px;
        color: #29a5df;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}

.footer-right {
  float: right;
  h2 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 24px;
  }
  p {
    font-size: 12px;
    margin-top: 15px;
    line-height: 22px;
  }
}

/* Media */
@media screen and (max-height: 480px) {
  section {
    overflow: scroll;
  }
}

@media screen and (max-width: 480px) {

  .section-title {
    padding-top: 30px;
    h1 {
      font-size: 30px;
    }
    h3 {
      margin-top: 20px;
      font-size: 20px;
    }
    p {
      margin-top: 10px;
      font-size: 14px;
    }
    i {
      top: 30px;
    }
  }

  .slick-next {
    top: 30px;
  }

  .header-right {
    display: none;
  }

  #test-btn {
    width: 50%;
    margin-left: 40px;
  }

}

@media screen and (max-width: 1550px) {
  .lang {
    left: 18px;
    & > div {
      margin-right: 5px;
    }
    .lang-img {
      display: none;
    }
  }
}

@media screen and (max-width: 1080px) {
  section {
    overflow: scroll;
  }
  .header-email, .header-geo {
    display: none;
  }
}
